.EduExp-wrapper{
    background-image: linear-gradient(223deg, #321c54c9, #2917466b, #2e1d4b96, #33166338);
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.EduExp-head {
    font-weight: bold;
    font-size: 3.5rem;
    font-family: "Merienda", cursive;
    text-align: center;
    background-clip: text;
    background-image: linear-gradient(288deg, #b448e6, #b670d3, #bfa6cb);
    color: rgba(255, 255, 255, 0);
}
.EduExp-main {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.education-logo{
    font-size: 4rem;
    display: flex;
    align-items: center;
    background-clip: text;
    background-image: linear-gradient(76deg, #b448e6, #cf9fe3, #bfa6cb);
    color: rgba(255, 255, 255, 0);
    gap: 10px;
    justify-content: center;
}
.education-logo .edu-Icon{
    font-size: 4rem;
    color: white;
}
.experience-logo{
    font-size: 4rem;
    display: flex;
    align-items: center;
    background-clip: text;
    background-image: linear-gradient(303deg, #b448e6, #cf9fe3, #bfa6cb);
    color: rgba(255, 255, 255, 0);
    gap: 10px;
    justify-content: center;
}
.experience-logo .exp-Icon{
    font-size: 4rem;
    color: white;
}
.education{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}
.education-detail{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.edudetail {
    background-color: #ffffff14;
    padding: 1.3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.35rem;
}
.edudetail h3{
    color: #bb9aff;
    font-size: 2rem;
}
.expdeatil h3{
    color: #bb9aff;
    font-size: 2rem;
}
.Experience{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}
.exerience-detail{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.expdeatil {
    padding: 1.3rem;
    border-radius: 1rem;   
    background-color: #ffffff14;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.35rem;
}

@media only screen and (width<=600px){
    .EduExp-wrapper {
        padding-left: 1rem;
        background-image: linear-gradient(239deg, #321c54c9, #2917466b, #2e1d4b96, #33166338);
        padding-right: 1rem;
    }
    .EduExp-head {
        font-size: 3.2rem;
    }
    .EduExp-main {
        gap: 5rem;
        margin-top: 5rem;
        flex-direction: column;
    }
    .education {
        margin: auto;
        width: 95%;
    }
    .Experience {
        margin: auto;
        width: 95%;
    }
}