.mainCert-div {
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  color: white;
  padding-top: 1rem;
}
  .mainCert-div h2 {
    color: rgb(239, 222, 255);
    text-align: center;
    margin-top: 3rem;
    font-size: 4vw;
  }
  .Certi-wraper {
  padding-bottom: 8rem;
    gap: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3.5rem;
  }
  .CardCert {
    border-radius: 5px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .CardCert img {
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
  }
  @media only screen and (width<= 600px) {
    .mainCert-div {
      width: 100%;
      background-color: rgb(0, 0, 0);
      color: white;
    }
    .Certi-wraper {
      gap: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding-top: 3.5rem;
      padding-bottom: 8rem;
      align-items: center;
  }
    .CardCert {
      border-radius: 5px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .mainCert-div h2 {
      color: rgb(239, 222, 255);
      text-align: center;
      margin-top: 3rem;
      font-size: 12vw;
    }
    .mainCert-div :nth-child(19) {
      margin-bottom: 0rem;
    }
  }
  